<h1>Bake List</h1>
<app-bake *ngFor="let bake of bakes" [bake]="bake"> </app-bake>
<form>
    <mat-form-field>
        <mat-label>Temperature</mat-label>
        <input matInput type="number" #temp [formControl]="tempFormControl" [errorStateMatcher]="matcher"/>
        <mat-error *ngIf="tempFormControl.hasError('required')">
            Temperature is required
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Time</mat-label>
        <input matInput #time [formControl]="timeFormControl" [errorStateMatcher]="matcher"/>
    </mat-form-field>
    <button mat-stroked-button (click)="add(temp.value,time.value);">
        save
    </button>
</form>
