<h1>Ingredient List</h1>
<ul>
    <li *ngFor="let i of ingredients" >
        <app-ingredient [ingredient]="i"></app-ingredient>
    </li>
</ul>
Add Ingredient:
<form>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" #Name [formControl]="nameFormControl" [errorStateMatcher]="matcher"/>
        <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput #Quantity [formControl]="quantityFormControl" [errorStateMatcher]="matcher"/>
        <mat-error *ngIf="quantityFormControl.hasError('required')">
            Quantity is required
        </mat-error>
    </mat-form-field>
    <button mat-stroked-button (click)="add(Name.value,Quantity.value);Name.value=''; Quantity.value=''">
        save
    </button>
</form>
