<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Baked at {{bake.temperature}} for {{bake.time}}.
        </mat-panel-title>
    </mat-expansion-panel-header>

    <form>
        <mat-form-field>
            <mat-label>Temperature</mat-label>
            <input matInput type="number" [(ngModel)]="bake.temperature" [formControl]="tempFormControl" [errorStateMatcher]="matcher"/>
            <mat-error *ngIf="tempFormControl.hasError('required')">
                Temperature is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Time</mat-label>
            <input matInput [(ngModel)]="bake.time" [formControl]="timeFormControl" [errorStateMatcher]="matcher"/>
        </mat-form-field>
        <button mat-stroked-button (click)="update();">
            save
        </button>
    </form>
    <app-ingredient-list bake_id="{{bake.id}}"></app-ingredient-list>
</mat-expansion-panel>
